.navbar {
  background: rgb(237, 150, 150);
  padding: 10px;
  display: flex;
  gap: 25px;
  margin-bottom: 30px; 
}
.navbar a {
  color: rgb(33, 15, 15);
  text-decoration: none;
}

.profile {
  width: 200px;
  padding: 20px;
  text-align: center;
  background: #bd7fb9;
  border-radius: 8px;
   margin: 20px;  
}
.profile img {
  width: 90px;
  border-radius: 50%;
}

.price-box {
  width: 180px;
  padding: 20px;
  background: #effaff;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #ccc;
}
.price-box button {
  padding: 8px 15px;
}


.notify {
  font-size: 20px;
  position: relative;
}
.notify span {
  background: red;
  color: white;
  padding: 3px 8px;
  border-radius: 50%;
}


.footer {
  text-align: center;
  padding: 10px;
  background: #d62020;
  color: white;
}


