.hero {
  padding: 30px;
  background: #042948;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #d5d1d1;
}


.navbar {
  background: rgb(237, 150, 150);
  padding: 10px;
  display: flex;
  gap: 25px;
  margin-bottom: 30px; 
}
.navbar a {
  color: rgb(33, 15, 15);
  text-decoration: none;
}

.center-box {
  width: 200px;
  padding: 20px;
  margin: 40px auto;
  text-align: center;
  background: #ffe5e5;
  border-radius: 8px;
}


.profile {
  width: 200px;
  padding: 20px;
  text-align: center;
  background: #bd7fb9;
  border-radius: 8px;
   margin: 20px;  
}
.profile img {
  width: 90px;
  border-radius: 50%;
}

.price-box {
  width: 180px;
  padding: 20px;
  background: #effaff;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #ccc;
     margin: 20px;  

}
.price-box button {
  padding: 8px 15px;
}

.flex-row {
  display: flex;
  gap: 15px;
}
.box {
  padding: 30px;
  background: #e1bee7;
  border-radius: 6px;
}


.notify {
  font-size: 20px;
  position: relative;
  margin: 20px;  

}
.notify span {
  background: red;
  color: white;
  padding: 3px 8px;
  border-radius: 50%;
}




.footer {
  text-align: center;
  padding: 10px;
  background: #d62020;
  color: white;
}


