.navbar {
  background: rgb(237, 150, 150);
  padding: 10px;
  display: flex;
  gap: 25px;
}
.navbar a {
  color: rgb(33, 15, 15);
  text-decoration: none;
}

.profile {
  width: 200px;
  padding: 20px;
  text-align: center;
  background: #bd7fb9;
  border-radius: 8px;
}
.profile img {
  width: 90px;
  border-radius: 50%;
}

.price-box {
  width: 180px;
  padding: 20px;
  background: #effaff;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #ccc;
}
.price-box button {
  padding: 8px 15px;
}


