.hero {
  padding: 30px;
  background: #042948;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #d5d1d1;
}

.heading {
  text-align: center;
  color: #333;
}


.navbar {
  background: rgb(244, 32, 32);
  padding: 10px;
  display: flex;
  gap: 25px;
  margin-bottom: 30px; 
}
.navbar a {
  color: rgb(33, 15, 15);
  text-decoration: none;
}

.login-box {
  width: 250px;
  padding: 20px;
  background: #f874de;
  border-radius: 10px;
}
.login-box input, 
.login-box button {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}


.center-box {
  width: 200px;
  padding: 20px;
  margin: 40px auto;
  text-align: center;
  background: #ffe5e5;
  border-radius: 8px;
}


.profile {
  width: 200px;
  padding: 20px;
  text-align: center;
  background: #bd7fb9;
  border-radius: 8px;
   margin: 20px;  
}
.profile img {
  width: 90px;
  border-radius: 50%;
}

.price-box {
  width: 180px;
  padding: 20px;
  background: #74caf2;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #ccc;
     margin: 20px;  

}
.price-box button {
  padding: 8px 15px;
}

.flex-row {
  display: flex;
  gap: 15px;
}
.box {
  padding: 30px;
  background: #e1bee7;
  border-radius: 6px;
}

.btn {
  padding: 10px 25px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
}
.btn:hover {
  background: #0056b3;
}


.notify {
  font-size: 20px;
  position: relative;
  margin: 20px;  

}
.notify span {
  background: red;
  color: white;
  padding: 3px 8px;
  border-radius: 50%;
}

.big-btn {
  padding: 12px 25px;
  background: #ff6f61;
  color: white;
  border: none;
  border-radius: 6px;
  margin: 40px auto;
  display: block;
}

.flex-box {
  display: flex;
  gap: 20px;
}
.item {
  padding: 15px;
  background: lightgreen;
}


.box1 {
  width: 200px;
  height: 80px;
  background: lightblue;
  padding: 20px;
}

.card {
  width: 220px;
  padding: 20px;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: 0 2px 6px #ccc;
}

.price-card {
  width: 200px;
  padding: 20px;
  border: 2px solid #444;
  text-align: center;
}


.footer {
  text-align: center;
  padding: 10px;
  background: #d62020;
  color: white;
}


