.nav-flex {
  display: flex;
  justify-content: space-around;
  background: #ffe6e6;
  padding: 12px;
}
.nav-flex a {
  text-decoration: none;
  color: #333;
}



.flex1 {
  display: flex;
  gap: 10px;
}
.box {
  padding: 20px;
  background: lightblue;
}
