.nav-flex {
  display: flex;
  justify-content: space-around;
  background: #ffe6e6;
  padding: 12px;
}
.nav-flex a {
  text-decoration: none;
  color: #333;
}



.flex1 {
  display: flex;
  gap: 10px;
}
.box {
  padding: 20px;
  background: lightblue;
}


.flex2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #eee;
}
.item {
  padding: 20px;
  background: coral;
}


.flex4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.col {
  padding: 15px;
  background: lightgreen;
}

.flex5 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.boxw {
  width: 80px;
  height: 80px;
  background: #d1ecf1;
  display: flex;
  justify-content: center;
  align-items: center;
}
