.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#111827;
  color:white;
}
.links a{
  margin-left:20px;
  text-decoration:none;
  color:white;
}






.card{
  width:250px;
  padding:20px;
  background:#f1f5f9;
  border-radius:12px;
}




.btn{
  padding:12px 25px;
  background:#6366f1;
  color:white;
  border:none;
  border-radius:8px;
  transition:.3s;
}
.btn:hover{
  background:#4338ca;
}





.section{
  padding:50px;
  background:#e0f2fe;
  text-align:center;
}




.badge{
  background:#22c55e;
  color:white;
  padding:6px 14px;
  border-radius:999px;
  font-size:14px;
}




.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#e0f2fe;
}
.box{
  padding:40px;
  background:#6366f1;
  color:white;
  border-radius:12px;
}




