.nav{
  display:flex;
  justify-content:space-between;
  padding:15px 15px;
  background:#111827;
}
.nav a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}





.card{
  width:250px;
  padding:20px;
  background:#f1f5f9;
  border-radius:12px;
}




.btn{
  padding:12px 25px;
  background:#6366f1;
  color:white;
  border:none;
  border-radius:8px;
  transition:.3s;
}
.btn:hover{
  background:#4338ca;
}





.section{
  padding:50px;
  background:#e0f2fe;
  text-align:center;
}




