body {
  background: #e391f8;
}


.title {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  color: #490147;
}

.text {
  font-size: 20px;
  color: #333;
  text-align: center;
}

.btn {
  display: block;        
  margin: 30px auto;     
  
  padding: 15px 35px;    
  font-size: 20px;       
  
  border: none;
  background: #670662;
  color: rgb(18, 14, 18);
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background: #e53df8;
}

.card {
  width: 200px;
  padding: 20px;
  background: rgb(240, 71, 187);
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}


