body {
  background: #e391f8;
}


.title {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  color: #490147;
}

.text {
  font-size: 20px;
  color: #333;
  text-align: center;
}

.mini-hero {
  background: linear-gradient(45deg, #1c035b, #00d4ff);
  color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}


.btn {
  display: block;        
  margin: 30px auto;     
  
  padding: 15px 35px;    
  font-size: 20px;       
  
  border: none;
  background: #670662;
  color: rgb(18, 14, 18);
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background: #e53df8;
}

.card {
  width: 200px;
  padding: 20px;
  background: rgb(240, 71, 187);
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.profile-card {
  width: 200px;
  padding: 20px;
  background: #fff3cd;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 6px #ccc;
}

.profile-card img {
  width: 100px;          
  height: 100px;         
  object-fit: cover;     
  border-radius: 50%;    
  margin-bottom: 10px;   
  border: 2px solid #ddd;
  
}

.notify {
  font-size: 20px;
  position: relative;
  display: inline-block;
}
.notify span {
  background: red;
  color: white;
  padding: 3px 8px;
  border-radius: 50%;
  font-size: 12px;
}


.alert-success {
  padding: 12px;
  background: #d4edda;
  color: #155724;
  border-radius: 6px;
  width: 250px;
}

body {
  text-align: center;
  padding-top: 80px;
}

.glow-btn {
  padding: 15px 40px;
  font-size: 20px;
  color: #220f0f;
  background: transparent;
  border: 2px solid #0ff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px #0ff;
}

