body {
  background: #e391f8;
}


.title {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  color: #490147;
}

.text {
  font-size: 20px;
  color: #333;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background: #0056b3;
}
