body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #0056b3;
  color: white;
  text-align: center;
  padding: 20px;
}

/* navbar */

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  background: #004494;
  margin: 0;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #00bcd4;
}
