body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #0056b3;
  color: white;
  text-align: center;
  padding: 20px;
}

/* navbar */

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  background: #004494;
  margin: 0;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #00bcd4;
}


/* hero section */

.hero {
  background: linear-gradient(to right, #007bff, #00bcd4);
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}

.btn {
  background-color: white;
  color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* about section */

.about {
  padding: 60px 20px;
  text-align: center;
  background-color: #f0f8ff;
}

.about h2 {
  color: #0056b3;
}


/* service section */

.services {
  text-align: center;
  padding: 60px 20px;
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 200px;
  padding: 20px;
  font-weight: bold;
}

/* container */

.container {
  width: 80%;
  max-width: 1100px;
  margin: auto;
}

/* hover */

.btn:hover {
  background-color: #004494;
  color: white;
  transition: 0.3s;
}

/* Improve Typography */

body {
  line-height: 1.6;
  color: #333;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

