body {
  margin: 0;
  font-family: Arial, sans-serif;
}



/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1fd203;
  padding: 10px 40px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: rgb(11, 1, 1);
  letter-spacing: 1px;
}

nav ul {
  display: flex;

  list-style: none;
  padding: 0;

  margin: 0;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #031a1d;
}






/* hero section */

.hero {
  height: 90vh;
  width: 84%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  background: linear-gradient(to right, #0a0f24, #1b2a4b);
  color: white;
}

.hero-content {
  max-width: 550px;
}

.hero-content h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-content p {
  margin: 18px 0;
  font-size: 18px;
  opacity: 0.9;
}

.hero-btn {
  display: inline-block;
  padding: 12px 25px;
  background: #20c0f0;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 15px;
  font-weight: 600;
}

.hero-image {
  width: 450px;
  border-radius: 20px;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.4));
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 30px;
  }

  .hero-image {
    width: 300px;
    margin-bottom: 20px;
  }

  .hero-content h1 {
    font-size: 36px;
  }
}



/* about section */

.about {
  padding: 60px 20px;
  text-align: center;
  background-color: #f0f8ff;
}

.about h2 {
  color: #0056b3;
}

.about-img img {
  width: 30%;
  border-radius: 10px;
}


/* service section */

.services {
  text-align: center;
  padding: 60px 20px;
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 200px;
  padding: 20px;
  font-weight: bold;
}

.card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
  color: #0056b3;
}

.card p {
  font-size: 14px;
  color: #555;
}

/* container */

.container {
  width: 80%;
  max-width: 1100px;
  margin: auto;
}

/* hover */

.btn:hover {
  background-color: #004494;
  color: white;
  transition: 0.3s;
}

/* Improve Typography */

body {
  line-height: 1.6;
  color: #333;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

/* section spacing */ 

section {
  margin-bottom: 40px;
}

/* section testimonial*/ 

.testimonials {
  background-color: #f0f8ff;
  padding: 60px 0;
  text-align: center;
}
.testimonials h2 {
  color: #0056b3;
  margin-bottom: 40px;
}
.testimonial-boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.testimonial {
  background: white;
  border-radius: 10px;
  width: 260px;
  padding: 25px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-style: italic;
}



/* contact section */ 


.contact {
  background: white;
  padding: 60px 0;
  text-align: center;
}
.contact h2 {
  color: #0056b3;
  margin-bottom: 20px;
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 500px;
  margin: auto;
}
.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact textarea {
  height: 120px;
}
.contact button {
  background-color: #00bcd4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.contact button:hover {
  background-color: #0097a7;
}


/* footer */

footer {
  background-color: #0056b3;
  color: white;
  text-align: center;
  padding: 20px 10px;
}
.social-links a {
  color: white;
  margin: 0 8px;
  font-size: 18px;
  text-decoration: none;
}
.social-links a:hover {
  color: #00bcd4;
}


/* responsive for mobile */

@media (max-width: 768px) {
  .service-cards, .portfolio-grid, .testimonial-boxes {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    background: #004494;
    padding: 10px;
    border-radius: 5px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .container {
    width: 95%;
  }
}



/* header shadow */

header {
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


/* smooth scroll */

html {
  scroll-behavior: smooth;
}


/* input focuse style */

input:focus, textarea:focus {
  outline: 2px solid #00bcd4;
}


/* spolish section spacing */

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}


/* final polish */

.btn {
  transition: 0.3s ease;
}

.btn:hover {
  opacity: 0.9;
}

footer p {
  margin-bottom: 10px;
}
