body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  padding: 30px;
  background: #52b2f3;
  border-radius: 12px;
  text-align: center;
}

.btn {
  padding: 12px 25px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
}
.btn:hover {
  background: #1e40af;
  transform: scale(1.05);
}
