

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #0f172a;
}
.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}
.nav h3 {
  color: white;
}

.card {
  padding: 30px;
  background: #52b2f3;
  border-radius: 12px;
  text-align: center;
}

.btn {
  padding: 12px 25px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
}
.btn:hover {
  background: #1e40af;
  transform: scale(1.05);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.box {
  padding: 30px;
  background: #bfdbfe;
  text-align: center;
}
