
.head {
  position: sticky;
  top: 0;
  background: #1e293b;
  color: white;
  padding: 15px;
  margin: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #0f172a;
  margin: 10px;

}
.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}
.nav h3 {
  color: white;
}
.nav a:hover {
  color: #38bdf8;
}

.card {
  padding: 30px;
  background: #52b2f3;
  border-radius: 12px;
  text-align: center;
  margin: 10px;
}

.card:hover {
  transform: translateY(-10px);
}

.btn {
  padding: 12px 25px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
  margin: 10px;
}
.btn:hover {
  box-shadow: 0 0 20px #0f1115;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 10px;

}
.box {
  padding: 30px;
  background: #bfdbfe;
  text-align: center;
  margin: 10px;

}

.card {
  padding: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  border-radius: 10px;
}
.card:hover {
  transform: translateY(-12px);
  border-color: #e20c28;
}


.input {
  padding: 12px;
  border: 1px solid #ccc;
  margin: 10px;

}
.input:focus {
  outline: none;
  border-color: blue;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}


.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px;

}
.slide-btn {
  padding: 12px 30px;
  background: linear-gradient(to right, #22c55e 50%, #16a34a 50%);
  background-size: 200%;
  background-position: left;
  border: none;
  color: white;
  transition: 0.4s;
}
.slide-btn:hover {
  background-position: right;
}

.icon {
  font-size: 40px;
  transition: 0.4s;
}
.icon:hover {
  transform: rotate(360deg);
}

.ripple {
  padding: 12px 30px;
  border: none;
  background: #6366f1;
  color: white;
  position: relative;
  overflow: hidden;
}
.ripple::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: rgba(255,255,255,0.4);
  border-radius: 50%;
  transition: 0.4s;
}
.ripple:hover::after {
  width: 200px;
  height: 200px;
}



.footer {
  padding: 20px;
  text-align: center;
  background: #020617;
  color: white;
}

