body{
font-family:Arial;
}

.navbar{
background:#2f3542;
padding:10px;
display:flex;
justify-content:space-between;
align-items:center;
}

.menu{
list-style:none;
display:flex;
gap:20px;
color:white;
}

.logo{
color:white;
margin-left:10px;
}


.item:hover{
color:#1e90ff;
cursor:pointer;
}

.btn{
padding:10px 20px;
background:green;
color:white;
border:none;
}

.btn:hover{
background:#0f6cd6;
}


.hero{
height:60vh;
display:flex;
justify-content:center;
align-items:center;
background:#f1f2f6;
}


.btn{
padding:10px 20px;
background:#3498db;
border:none;
color:white;
border-radius:5px;
}
.btn:hover{
background:#2c80b4;
}


