body{
font-family:Arial;
}

.navbar{
background:#2f3542;
padding:10px;
display:flex;
justify-content:space-between;
align-items:center;
}

.menu{
list-style:none;
display:flex;
gap:20px;
color:white;
}

.logo{
color:white;
margin-left:10px;
}


.item:hover{
color:#1e90ff;
cursor:pointer;
}


