body{
font-family:Arial;
}

.navbar{
background:#2f3542;
padding:10px;
}

.menu{
list-style:none;
display:flex;
gap:20px;
justify-content:center;
color:white;
}

.logo{
color:white;
margin-left:10px;
}