.navbar {
  display: flex;
  justify-content: space-between;
  padding:10px 10px;
  background: #ae3596;
}
.navbar h3,
.navbar a {
  color: rgb(8, 1, 1);
  text-decoration: aliceblue;
  margin-left: 30px;
}


.card {
  padding: 24px;
  width: 280px;
  border-radius: 14px;
  background: rgb(218, 94, 237);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin: 10px;
}

.ui-input {
  padding: 14px;
  width: 260px;
  border-radius: 10px;
  border: 1px solid #cbd5f5;
}


.primary-btn {
  padding: 14px 28px;
  background: #71075e;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
}

