.ui-card {
  width: 280px;
  padding: 20px;
  border-radius: 14px;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.ui-card button {
  margin-top: 12px;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding:10px 10px;
  background: #ae3596;
}
.navbar h3,
.navbar a {
  color: rgb(8, 1, 1);
  text-decoration: aliceblue;
  margin-left: 30px;
}


.card {
  padding: 24px;
  width: 280px;
  border-radius: 14px;
  background: rgb(218, 94, 237);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin: 10px;
}

.ui-input {
  padding: 14px;
  width: 260px;
  border-radius: 10px;
  border: 1px solid #cbd5f5;
}


.primary-btn {
  padding: 14px 28px;
  background: #71075e;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
}

.ui-section {
  padding: 40px 40px;
  width: 250px;
  border-radius: 15px;
  background: #e738ca;
  margin: 10px;
}

.tag {
  padding: 6px 14px;
  background: #7b0349;
  color: white;
  border-radius: 999px;
  font-size: 14px;
  margin: 10px ;
}

.profile {
  text-align: center;
  padding: 30px;
  border-radius: 16px;
  background: rgb(222, 202, 240);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.profile img {
  width: 200px;          
  height: 200px;         
  object-fit: cover;    
  border-radius: 25%;   
  margin-bottom: 12px;
}

.profile h4 {
  font-size: 30px;
}

.feature {
  padding: 25px;
  border-radius: 14px;
  background: #e0f2fe;
  text-align: center;
}
.feature span {
  font-size: 30px;
}

.hover-btn {
  padding: 14px 28px;
  background: #22c55e;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}
.hover-btn:hover {
  transform: scale(1.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width:600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.soft {
  padding: 80px 30px;
  background: #f8fafc;
}

.hover-card {
  padding: 30px;
  background: #e0e7ff;
  transition: 0.3s;
}
.hover-card:hover {
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}


.ui-input {
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #cbd5f5;
}
.ui-input:focus {
  outline: none;
  border-color: #4f46e5;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.btn{
  padding:12px 30px;
  border:none;
  border-radius:30px;
  background:linear-gradient(45deg,#6366f1,#22d3ee);
  color:white;
  transition:.4s;
}
.btn:hover{
  transform:scale(1.1);
}

.card{
  width:200px;padding:30px;
  background:white;
  box-shadow:0 8px 20px rgba(0,0,0,.1);
  transition:.3s;
}
.card:hover{
  transform:translateY(-10px);
}



.ui-footer {
  padding: 30px;
  text-align: center;
  background: #020617;
  color: white;
}


