.card {
  padding: 24px;
  width: 280px;
  border-radius: 14px;
  background: rgb(218, 94, 237);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin: 10px;
}

.primary-btn {
  padding: 14px 28px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
}

