.ui-card {
  width: 280px;
  padding: 20px;
  border-radius: 14px;
  background: white;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.ui-card button {
  margin-top: 12px;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding:10px 10px;
  background: #ae3596;
}
.navbar h3,
.navbar a {
  color: rgb(8, 1, 1);
  text-decoration: aliceblue;
  margin-left: 30px;
}


.card {
  padding: 24px;
  width: 280px;
  border-radius: 14px;
  background: rgb(218, 94, 237);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin: 10px;
}

.ui-input {
  padding: 14px;
  width: 260px;
  border-radius: 10px;
  border: 1px solid #cbd5f5;
}


.primary-btn {
  padding: 14px 28px;
  background: #71075e;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 10px;
}

.ui-section {
  padding: 40px 40px;
  width: 250px;
  border-radius: 15px;
  background: #e738ca;
  margin: 10px;
}

.tag {
  padding: 6px 14px;
  background: #7b0349;
  color: white;
  border-radius: 999px;
  font-size: 14px;
  margin: 10px ;
}

.profile {
  text-align: center;
  padding: 30px;
  border-radius: 16px;
  background: rgb(222, 202, 240);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.profile img {
  width: 200px;          
  height: 200px;         
  object-fit: cover;    
  border-radius: 25%;   
  margin-bottom: 12px;
}

.profile h4 {
  font-size: 30px;
}

.feature {
  padding: 25px;
  border-radius: 14px;
  background: #e0f2fe;
  text-align: center;
}
.feature span {
  font-size: 30px;
}


.ui-footer {
  padding: 30px;
  text-align: center;
  background: #020617;
  color: white;
}


