.nav{
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:#020617;
  color:white;
}
.links a{
  margin-left:20px;
  color:white;
  text-decoration:none;
}



.hero{
  padding:80px;
  text-align:center;
  background:#e0e7ff;
}




.features{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
  padding:50px;
}
.box{
  padding:30px;
  background:white;
  box-shadow:0 8px 20px rgba(0,0,0,.1);
}






.about{
  padding:60px;
  background:#f8fafc;
}




.cta{
  padding:60px;
  text-align:center;
  background:#22c55e;
  color:white;
}
 






.review{
  padding:30px;
  border-left:4px solid #6366f1;
}
 




.price{
  padding:40px;
  border:2px solid #e5e7eb;
  text-align:center;
}





.news{
  display:flex;
  gap:10px;
  padding:40px;
}









.contact-info{
  padding:40px;
  background:#020617;
  color:white;
}
