.nav{
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:#020617;
  color:white;
}
.links a{
  margin-left:20px;
  color:white;
  text-decoration:none;
}



.hero{
  padding:80px;
  text-align:center;
  background:#e0e7ff;
}




.features{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
  padding:50px;
}
.box{
  padding:30px;
  background:white;
  box-shadow:0 8px 20px rgba(0,0,0,.1);
}






.about{
  padding:60px;
  background:#f8fafc;
}




.cta{
  padding:60px;
  text-align:center;
  background:#22c55e;
  color:white;
}
 






.review{
  padding:30px;
  border-left:4px solid #6366f1;
}
 




.price{
  padding:40px;
  border:2px solid #e5e7eb;
  text-align:center;
}





.news{
  display:flex;
  gap:10px;
  padding:40px;
}









.contact-info{
  padding:40px;
  background:#020617;
  color:white;
}




.stats{
  display:flex;
  justify-content:space-around;
  padding:60px;
  background:#f1f5f9;
  font-size:22px;
}





.logos{
  display:flex;
  gap:20px;
  justify-content:center;
  padding:20px;
}

.logos img{
  width:200px;     
  height:auto;
}






.faq{
  padding:30px;
  border-bottom:1px solid #e5e7eb;
}




.bar{
  height:8px;
  background:#6366f1;
  width:80%;
}





.icon-feature{
  font-size:20px;
  padding:20px;
}





.blog-card{
  padding:30px;
  box-shadow:0 8px 20px rgba(0,0,0,.1);
}





.timeline li{
  margin-bottom:15px;
  border-left:3px solid #6366f1;
  padding-left:10px;
}







.download{
  padding:60px;
  text-align:center;
  background:#22c55e;
}





.alert{
  padding:20px;
  background:#fde68a;
}




.divider{
  text-align:center;
  margin:40px 0;
}







.team{
  text-align:center;
}
.team img{
  border-radius:50%;
}








.announce{
  background:#020617;
  color:white;
  text-align:center;
  padding:10px;
}





.search input{
  padding:12px 20px;
  width:280px;
  border-radius:999px;
  border:1px solid #cbd5f5;
}








.cats span{
  padding:8px 16px;
  background:#e0e7ff;
  border-radius:20px;
  margin-right:10px;
}









.empty{
  padding:60px;
  text-align:center;
  color:#64748b;
}










