.hero {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.divider {
  border: none;
  height: 3px;
  background: linear-gradient(to right, #ff0000, #ff7b7b, #ff0000);
  margin: 30px 0;
}


.features {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.feature {
  flex: 1;
  padding: 20px;
  background: #d7f7ff;
  text-align: center;
  border-radius: 10px;
}


.contact-card {
  padding: 20px;
  background: #ffe7c7;
  border-radius: 10px;
  width: 230px;
}
