.row {
  display: flex;
  gap: 15px;
}
.b {
  background: lightblue;
  padding: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.b {
  background: #ffd1d1;
  padding: 20px;
}

.center-box {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef0ff;
}

.space-between {
  display: flex;
  justify-content: space-between;
  background: #d7ffd7;
  padding: 20px;
}

.wrap-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.w {
  background: #ffeeba;
  padding: 20px;
  width: 60px;
  text-align: center;
}

.flex1 {
  display: flex;
  gap: 10px;
}
.it {
  flex: 1;
  background: #c3f5ff;
  padding: 20px;
}
