.hero {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.divider {
  border: none;
  height: 3px;
  background: linear-gradient(to right, #ff0000, #ff7b7b, #ff0000);
  margin: 30px 0;
}


.features {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.feature {
  flex: 1;
  padding: 20px;
  background: #d7f7ff;
  text-align: center;
  border-radius: 10px;
}

.feature:hover {
  background: #bdf0ff;
  transform: translateY(-5px);
  transition: 0.3s;
}


.contact-card {
  padding: 20px;
  background: #ffe7c7;
  border-radius: 10px;
  width: 230px;
}


.info {
  padding: 20px;
  background: #e8ffe8;
  border-left: 5px solid #2ecc71;
}


button {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #ff512f, #dd2476) 1;
  border-radius: 5px;
}

.box,
.feature,
.info,
.contact-card,
.price-card {
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .features {
    flex-direction: column;
  }
}


.tagline {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
}
