
/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff8f2;
  color: #333;
}

/* navbar Styles */

.navbar {
  background: #ff9f43;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}


/* hero section Styles */

.hero {
  text-align: center;
  padding: 80px 20px;
  color: rgb(19, 7, 7);
}

.hero button {
  background: #ff9f43;
  border: none;
  padding: 10px 20px;
  color: rgb(23, 15, 15);
  font-size: 16px;
  cursor: pointer;
}

.hero button:hover {
  background: #ff7f27;
}

/* about section Styles */

.about {
  text-align: center;
  padding: 50px 20px;
}

