
/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #fff8f2;
  color: #333;
}

/* navbar Styles */

.navbar {
  background: #ff9f43;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}


