.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: rgb(4, 24, 75);
  color: white;
  margin: 10px;
}
.links a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
    margin: 10px;

}
.item {
  background: skyblue;
  padding: 30px;

}

.parent {
  position: relative;
  width: 300px;
  height: 200px;
  background: lightgray;
      margin: 10px;

}
.child {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgb(21, 60, 168);
  padding: 10px;
  color: white;
}

.box {
  width: 300px;
  height: 150px;
  background: rgb(3, 176, 26);
}

@media (max-width: 600px) {
  .box {
    background: rgb(1, 30, 1);
  }
}

.card {
  width: 250px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 10px;
}

.btn {
  background: purple;
  color: white;
  padding: 15px 25px;
  display: inline-block;
  transition: 0.3s;
    margin: 10px;

}
.btn:hover {
 transform: scale(1.1);
}

.header {
  position: sticky;
  top: 0;
  padding: 20px;
  background: black;
  color: white;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background: lightblue;
  font-size: 24px;
  margin: 10px ;
}

.pricing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.plan {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

.hero {
  height: 300px;
  background: linear-gradient(to right, #4b79a1, #283e51);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
