.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background: rgb(4, 24, 75);
  color: white;
  margin: 10px;
}
.links a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
    margin: 10px;

}
.item {
  background: skyblue;
  padding: 30px;

}

.parent {
  position: relative;
  width: 300px;
  height: 200px;
  background: lightgray;
      margin: 10px;

}
.child {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgb(21, 60, 168);
  padding: 10px;
  color: white;
}

.box {
  width: 300px;
  height: 150px;
  background: rgb(3, 176, 26);
}

@media (max-width: 600px) {
  .box {
    background: rgb(1, 30, 1);
  }
}
