.skeleton{
  width:260px;
  height:160px;
  border-radius:12px;
  background:linear-gradient(
    90deg,#e9aa3d,#7aa0ed,#e65ac0
  );
  animation:load 1.5s infinite;
}
@keyframes load{
  0%{background-position:0%}
  100%{background-position:200%}
}
