.section-title{
  font-size:28px;
  position:relative;
}
.section-title::after{
  content:"";
  width:60px;height:4px;
  background:#6366f1;
  position:absolute;
  bottom:-8px;left:0;
}



.sticky-head{
  position:sticky;
  top:0;
  background:white;
  padding:10px;
  border-bottom:1px solid #e5e7eb;
}


.breadcrumb{
  font-size:14px;
  color:#475569;
}




.skeleton{
  width:260px;
  height:160px;
  border-radius:12px;
  margin: 10px;
  background:linear-gradient(
    90deg,#e9aa3d,#7aa0ed,#e65ac0
  );
  animation:load 1.5s infinite;
}
@keyframes load{
  0%{background-position:0%}
  100%{background-position:200%}
}



.neo{
  padding:16px 32px;
  border-radius:14px;
  background:#e5e7eb;
  margin: 10px;
  box-shadow:6px 6px 12px #c7c9cc,
             -6px -6px 12px #ffffff;
}
.neo:active{
  box-shadow:inset 6px 6px 12px #c7c9cc,
             inset -6px -6px 12px #ffffff;
}



.timeline{
  height:120px;
  border-left:4px solid #6366f1;
  margin-left:20px;
  margin: 10px;
}
.dot{
  width:14px;height:14px;
  background:#6366f1;
  border-radius:50%;
  margin-left:-9px;
}



.divider-text{
  display:flex;
  align-items:center;
  gap:10px;
}
.divider-text::before,
.divider-text::after{
  content:"";
  flex:1;
  height:1px;
  background:#d1d5db;
}





.blur-box{
  position:relative;
  width:260px;
}
.blur-box img{
  width:100%;
  transition:.4s;
}
.blur-box span{
  position:absolute;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:center;
  color:rgb(85, 44, 44);
  font-size:18px;
  opacity:0;
  margin: 10px;
}
.blur-box:hover img{
  filter:blur(3px);
}
.blur-box:hover span{
  opacity:1;
}




.switch{
  width:50px;height:26px;
  position:relative;
  display:inline-block;
}
.switch span{
  position:absolute;
  inset:0;
  background:#cbd5f5;
  border-radius:20px;
}
.switch span::before{
  content:"";
  width:20px;height:20px;
  background:white;
  position:absolute;
  top:3px;left:3px;
  border-radius:50%;
  transition:.3s;
}
.switch input:checked + span{
  background:#6366f1;
}
.switch input:checked + span::before{
  transform:translateX(24px);
}




.login-card{
  width:260px;
  padding:30px;
  border-radius:18px;
  box-shadow:0 10px 30px rgba(0,0,0,.1);
}
.login-card input,button{
  width:100%;
  margin-top:12px;
  padding:10px;
}




.reveal{
  padding:14px 30px;
  background:#020617;
  color:white;
  position:relative;
  overflow:hidden;
}
.reveal::after{
  content:"Click Now";
  position:absolute;
  inset:0;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#6366f1;
  transform:translateY(100%);
  transition:.3s;
}
.reveal:hover::after{
  transform:translateY(0);
}




.masonry{
  columns:3;
  gap:16px;
}
.masonry div{
  height:120px;
  background:#e0e7ff;
  margin-bottom:16px;
  border-radius:12px;
}




.status{
  padding:14px 24px;
  border-radius:30px;
  color:white;
  width:fit-content;
}
.online{background:#22c55e;}




.search input{
  padding:12px 18px;
  width:260px;
  border-radius:30px;
  border:1px solid #cbd5f5;
}
.search input:focus{
  outline:none;
  box-shadow:0 0 0 3px #c7d2fe;
}





.acc{
  max-height:40px;
  overflow:hidden;
  transition:.4s;
  background:#f1f5f9;
  padding:10px;
}
.acc:hover{
  max-height:120px;
}




.caption{
  position:relative;
}
.caption p{
  position:absolute;
  bottom:0;
  width:100%;
  background:rgba(0,0,0,.6);
  color:white;
  padding:10px;
}









.progress{
  width:260px;
  height:10px;
  margin: 10px;
  background:#e5e7eb;
  border-radius:10px;
}
.progress span{
  display:block;
  width:70%;
  height:100%;
  background:#22c55e;
  border-radius:10px;
}


.icon-card{
  padding:25px;
  border-radius:16px;
  text-align:center;
  background:#f8fafc;
}
.icon-card span{
  font-size:28px;
}



.info-box{
  padding:18px;
  background:#eff6ff;
  border-left:5px solid #2563eb;
  border-radius:8px;
}





.price{
  padding:30px;
  border-radius:16px;
  background:rgb(235, 179, 234);
  margin: 10px;
}
.best{
  outline:3px solid #6366f1;
}



.tip{
  position:relative;
}
.tip::after{
  content:"Tooltip text";
  position:absolute;
  bottom:140%;
  left:50%;
  transform:translateX(-50%);
  background:black;
  color:white;
  padding:6px 10px;
  border-radius:6px;
  opacity:0;
  margin: 1opx;
}
.tip:hover::after{
  opacity:1;
}



.ribbon-card{
  position:relative;
  padding:40px;
}
.ribbon-card::before{
  content:"HOT";
  position:absolute;
  top:10px;right:-20px;
  background:red;
  color:rgb(16, 7, 13);
  padding:6px 20px;
  transform:rotate(45deg);
}



.img-top-card{
  width:260px;
  border-radius:18px;
  overflow:hidden;
  background:white;
}
.img-top-card img{
  width:100%;
}
.img-top-card p{
  padding:20px;
}





.glow{
  padding:14px 30px;
  border:none;
  background:#6366f1;
  color:white;
  border-radius:30px;
}
.glow:hover{
  box-shadow:0 0 20px #6366f1;
}



.notify{
  position:relative;
  font-size:24px;
}
.notify span{
  position:absolute;
  top:-6px;right:-6px;
  background:red;
  color:white;
  font-size:12px;
  padding:2px 6px;
  border-radius:50%;
}


.rotate{
  font-size:30px;
  transition:.4s;

}
.rotate:hover{
  transform:rotate(180deg);
}



.media{
  display:flex;
  gap:16px;
}
@media(max-width:600px){
  .media{
    flex-direction:column;
  }
}

.footer {
  background: #020617;
  color: #e5e7eb;
  padding: 40px 20px;
}

.footer-content {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.footer-content h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.footer-content p {
  font-size: 14px;
  opacity: 0.8;
}

.footer-links {
  margin: 20px 0;
}

.footer-links a {
  margin: 0 12px;
  color: #c7d2fe;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #ffffff;
}

.copy {
  display: block;
  font-size: 13px;
  opacity: 0.6;
}
