.skeleton{
  width:260px;
  height:160px;
  border-radius:12px;
  margin: 10px;
  background:linear-gradient(
    90deg,#e9aa3d,#7aa0ed,#e65ac0
  );
  animation:load 1.5s infinite;
}
@keyframes load{
  0%{background-position:0%}
  100%{background-position:200%}
}



.neo{
  padding:16px 32px;
  border-radius:14px;
  background:#e5e7eb;
  margin: 10px;
  box-shadow:6px 6px 12px #c7c9cc,
             -6px -6px 12px #ffffff;
}
.neo:active{
  box-shadow:inset 6px 6px 12px #c7c9cc,
             inset -6px -6px 12px #ffffff;
}



.timeline{
  height:120px;
  border-left:4px solid #6366f1;
  margin-left:20px;
  margin: 10px;
}
.dot{
  width:14px;height:14px;
  background:#6366f1;
  border-radius:50%;
  margin-left:-9px;
}



.progress{
  width:260px;
  height:10px;
  margin: 10px;
  background:#e5e7eb;
  border-radius:10px;
}
.progress span{
  display:block;
  width:70%;
  height:100%;
  background:#22c55e;
  border-radius:10px;
}



.price{
  padding:30px;
  border-radius:16px;
  background:rgb(235, 179, 234);
  margin: 10px;
}
.best{
  outline:3px solid #6366f1;
}



.tip{
  position:relative;
}
.tip::after{
  content:"Tooltip text";
  position:absolute;
  bottom:140%;
  left:50%;
  transform:translateX(-50%);
  background:black;
  color:white;
  padding:6px 10px;
  border-radius:6px;
  opacity:0;
  margin: 1opx;
}
.tip:hover::after{
  opacity:1;
}
