.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #110149;
  color: white;
}
.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ffdd57;
  text-decoration: underline;
}

.logo:hover {
  color: #ffdd57;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 30px;
  background: #8cbbea;
}
.hero-text {
  max-width: 450px;

}
.btn {
  margin-top: 15px;
  padding: 12px 25px;
  background: #0072ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: #0054ba;
  transform: scale(1.05);
   box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}