body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

/* HEADER */
.header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 22px;
  font-weight: bold;
}
.logo span {
  color: #0078ff;
}
.navbar a {
  margin: 0 10px;
  font-weight: bold;
  color: #333;
}
.navbar a:hover {
  color: #0078ff;
}

/* HERO */
.hero {
  background: #fff;
  padding: 40px 0;
}
.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.hero-text {
  flex: 1;
  min-width: 250px;
}
.hero-text h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.hero-text span {
  color: #0078ff;
}
.hero-text p {
  color: #555;
  margin-bottom: 15px;
}
.btn {
  background: #0078ff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

.hero-img {
  display: flex;
  gap: 15px;
}
.hero-img img {
  width: 200px;
  border-radius: 10px;
  transition: transform 0.3s;
}
.hero-img img:hover {
  transform: scale(1.05);
}


/* FEATURES */
.features {
  background: #f2f4f8;
  text-align: center;
  padding: 40px 0;
}
.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.feature-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.feature {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  padding: 20px;
}
.feature img {
  width: 50px;
  margin-bottom: 10px;
}
.feature h3 {
  color: #0078ff;
  margin-bottom: 8px;
}
.feature p {
  color: #555;
  font-size: 14px;
}


/* pricing  */

.pricing {
  text-align: center;
  padding: 40px 0;
}
.price-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  padding: 20px;
}
.price {
  color: #0078ff;
  font-size: 22px;
  font-weight: bold;
}
.card ul {
  list-style: none;
  margin-top: 10px;
  color: #555;
}
.card ul li {
  margin-bottom: 5px;
}


/* CONTACT */
.contact {
  background: #f2f4f8;
  text-align: center;
  padding: 40px 0;
}
.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact input,
.contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/* FOOTER */
.footer {
  background: #fff;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 15px 0;
  color: #555;
}
