 *{
    padding: 0;
    margin: 0;
    color: white;

 }
 #navbar{

    height: 60px;
    background-color: #0f1111;
 }

 button{
    color: #f08804;
 }

 #logo{
    color: #f08804;
    font-size: 25px;
 }
 a{
    margin-right: 200px;
 }

  .contantbox{
   height: 100px;
   width: 100px;
   border:2px solid black ;
  }
 .contantbox1{
   background-color: rgba ( 255, 0, 0, 0.5 );
 }