 h1 {
    color : red;
    background-color: yellow;
   }



h2{
   color: darkred;
   background-color: yellow;
}

p {
   color: rgb(63, 29, 228);
}

ol {
   color: rgb(63, 29, 228);
}

caption{
   color: rgb(198, 17, 17);
}
 .a {
   background-color: rgb(0, 125, 226);
}
 
 .b {
   background-color: aqua;
 }

 .c  {
   background-color: rgb(3, 177, 177);
 }
 button{
   color: rgba(0, 0, 0, 0.903);
   background-color: rgb(17, 252, 1);
 }
 h1 {
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
 }
 .w
 {
   font-size: large;
 }

 h2 {
   font-style:oblique
   font-size : xx-large;
 }