.navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 15px;
  background: #f2c4c4;
}
.navbar a {
  color: rgb(15, 4, 4);
  text-decoration: none;
}


.login-box {
  width: 250px;
  padding: 20px;
  background: #de8888;
  border-radius: 10px;
}
.login-box input, button {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}


.container {
  display: flex;
  gap: 20px;
}
.box {
  flex: 1;
  padding: 20px;
  background: lightblue;
}


.price-card {
  width: 220px;
  padding: 20px;
  border: 2px solid #444;
  text-align: center;
}
.price-card button {
  margin-top: 10px;
  padding: 8px;
}
