
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}


/* navbar */

.navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 15px;
  background: #f2c4c4;
  border-radius: 8px;
  margin-bottom: 20px;
}

.navbar a {
  color: rgb(15, 4, 4);
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: white;
  background: #d05c5c;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s;
}


/* login bos */

.login-box {
  width: 280px;
  padding: 20px;
  background: #de8888;
  border-radius: 10px;
  margin: 20px auto;  
  text-align: center;
}

.login-box input,
.login-box button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
}


/* flexbox */

.container {
  display: flex;
  gap: 20px;
  margin: 20px 0;  
}

.box {
  flex: 1;
  padding: 20px;
  background: lightblue;
  border-radius: 8px;
  text-align: center;
}


/* pricing card */

.price-card {
  width: 220px;
  padding: 20px;
  border: 2px solid #444;
  text-align: center;
  margin: 20px auto;     
  background: white;
  border-radius: 10px;
}

.price-card button {
  margin-top: 10px;
  padding: 10px;
  background: #444;
  color: white;
  border-radius: 6px;
  border: none;
}


/* footer*/

.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  border-radius: 8px;
}
