* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #110149;
  color: white;
}
.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* Hero Section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 30px;
  background: #8cbbea;
}
.hero-text {
  max-width: 450px;
}
.hero img {
  width: 400px;
  border-radius: 12px;
}
.btn {
  margin-top: 15px;
  padding: 12px 25px;
  background: #0072ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: #0054ba;
  transform: scale(1.05);
}

/* Feature Section */

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 40px 30px;
}
.feature-card {
  background: rgb(110, 149, 249);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Footer */

.footer {
  padding: 20px;
  background: #110149;
  color: white;
  text-align: center;
  margin-top: 30px;
}

/* Responsive */

@media (max-width: 768px) {

    /* Hero Section Responsive */

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero img {
    width: 100%;
    margin-top: 20px;
  }

    /* Features Section Responsive */

  .features {
    grid-template-columns: 1fr;
  }
}
