* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #90c3f7;
  text-align: center;
  padding: 20px;
}

header h1 {
  color: #28009f;
    font-size: 100px;
  margin-bottom: 10px;

}

header p {
  color: #04153ce9;
  font-size: 25px;
  margin-bottom: 30px;
}

.pricing-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 220px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(240, 13, 13, 0.15);
}

.card h2 {
  font-size: 30px;
  margin-bottom: 8px;
}

.card .price {
  font-size: 18px;
  color: #4c0255;
  margin-bottom: 12px;
  font-weight: bold;
}

.card ul {
  list-style: none;
  margin-bottom: 12px;
  text-align: left;
  padding-left: 20px;
}

.card ul li {
  margin-bottom: 6px;
}

.card button {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #81a0f5;
}

.popular {
  border: 2px solid #6324f6;
  transform: scale(1.05);
}

@media(max-width: 700px){
  .pricing-container {
    flex-direction: column;
    align-items: center;
  }
}
