body{
    margin:0;
    text-align:center;
    font-family: Arial;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
}


.hero{
    padding:100px 20px;
}


.colors{
    display:flex;
    justify-content:center;
    gap:20px;
}

.box{
    width:80px;
    height:80px;
    border-radius:50%;
    transition:0.3s;
}

.box:hover{
    transform:scale(1.2);
}
.red{ background:red; }
.green{ background:green; }
.blue{ background:blue; }
.yellow{ background:yellow; }


.btn{
    margin-top:40px;
    padding:12px 25px;
    border:none;
    background:#ff4757;
    color:white;
    font-size:16px;
    border-radius:25px;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background:#e84118;
    transform:scale(1.1);
}



.stats div{
    text-align:center;
}

.stats p{
    font-size:12px;
    color:gray;
}

.stats h3{
    margin:0;
}


.dark{
    background:#1e272e;
}

.dark .card{
    background:#2f3640;
    color:white;
}

.toggle{
    margin-top:15px;
    padding:8px 15px;
    border:none;
    border-radius:20px;
    cursor:pointer;
}


footer{
    margin-top:80px;
    padding:20px;
    background:rgba(255,255,255,0.2);
}

